<div class="form-section side-autocomplete">
  <div class="autoComplete-title-container">
    <h3>{{title}}</h3>
  </div>
  <div class="input-section">
    <button
      *ngFor="let city of cityList; let i = index"
      type="text"
      class="tlc-input city-btn"
      appAutocompleteInput
      [name]="city"
      [ngClass]="{'highlighted': focused === i}"
    >
      {{city}}
    </button>
  </div>
  <div class="extra-section">
    <button class="via-btn">
      <i class="fas fa-map-marker"></i>
      Add VIA
    </button>
  </div>
</div>
