.side-autocomplete {
  padding: 30px;
}

.extra-section {
  width: 100%;
}

.extra-section button {
  float: right;
  color: #059E87;
  padding: 8px 14px;
  background-color: #D3F9F4;
  border: solid #059E87 1px;
}

.city-btn {
  color: #323E42;
}

.city-btn:hover, .highlighted {
  cursor: pointer;
  background-color: #fcfcfd !important;
  color: #000 !important;
}
