body {
  margin: 0;
  padding: 0;
}

.core-container {
  background-image: url("https://assets.trainline.eu/assets/images/open-home/covers/cover-beach-8dc53adfd913bec45958b705ec6369fa.jpg");
  background-size: 100%;
  background-position: center;
}

.title-container {
  display: flex;
  justify-content: center;
  /*background-color: aquamarine;*/
  color: #ffffff;
}

.title-container > h1 {
  text-shadow: 0px 1px 4px rgba(48, 50, 58, 0.6);
  font-size: 40px;
  font-family: "SourceSansPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 470px;
  /*background-color: aqua;*/
}

a {
  color: #01aa91;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

