<div class="core-container">
  <div class="title-container">
    <h1>European trains and buses at your fingertips.</h1>
  </div>
  <div class="form-container">
    <div class="main-form-container">
      <div class="form-section main">
        <h3 class="section-title">Where can we take you?</h3>
        <form>
          <div class="input-section places">
            <input
              class="tlc-input"
              type="text"
              placeholder="Enter your departure station..."
            />
            <input
              class="tlc-input"
              type="text"
              placeholder="Via"
            />
            <input
              class="tlc-input"
              type="text"
              placeholder="Enter your arrival station..."
            />
          </div>

          <div class="input-section dates">
            <button class="tlc-input">Depart</button>
            <button class="tlc-input">Return</button>
          </div>

          <div class="input-section persons">
            <button class="tlc-input">1 Adult (26-59)</button>
          </div>

          <div class="search-section">
            <a href="#">Use a discount code</a>
            <button class="submit-btn">Search</button>
          </div>

        </form>
      </div>
      <div class="form-section side"></div>
    </div>
  </div>
</div>
