<div class="form-section side">
  <div class="ad-title-container">
    <h3>Trainline's advantages</h3>
  </div>
  <ul class="ad-list">
    <li>
      <i class="list-element fas fa-camera-retro"></i>
      <div class="list-element ad-text-section">
        <em>
          No booking fees and no hidden costs
        </em>
        The tickets that we sell have the same prices as the carriers’.
      </div>
    </li>
    <li>
      <i class="list-element fas fa-camera-retro"></i>
      <div class="list-element ad-text-section">
        <em>
          No booking fees and no hidden costs
        </em>
        The tickets that we sell have the same prices as the carriers’.
      </div>
    </li>
    <li>
      <i class="list-element fas fa-camera-retro"></i>
      <div class="list-element ad-text-section">
        <em>
          No booking fees and no hidden costs
        </em>
        The tickets that we sell have the same prices as the carriers’.
      </div>
    </li>
  </ul>
  <div class="agents">
    <h4>OFFICIAL AGENT</h4>
    <div class="agent-list">
      <img [src]="LOGO_EUROSTAR" />
      <img [src]="LOGO_SNCF" />
      <img [src]="LOGO_THALYS" />
      <img [src]="LOGO_DB" />
    </div>
  </div>
</div>

