h3 {
  margin: 0;
}

.form-section {
  box-sizing: border-box;
  background-color: white;
  min-height: 500px;
  margin: 40px 10px;
  width: 460px;
  border-radius: 0.3125em;
}

.transparent-green {
  color: #D3F9F4;
}

.light-green {
  color: #059E87;
}

.green-btn {
  color: #059E87 !important;
  background-color: #D3F9F4 !important;
}

.side-section {
  padding: 30px;
}

.input-section {
  width: 100%;
  padding: 15px 0;
}

.inline-input-section {
  width: 100%;
  padding: 15px 0;
  display: flex;
}

.tlc-select {
  color: #555555;
  box-sizing: border-box;
  padding: 15px;
  border: solid #555 1px;
  background-color: white;
}

.tlc-input {
  color: #555555;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: solid #555 1px;
  background-color: white;
}

button {
  display: inline-flex;
}

.input-section input:first-child, button:first-child {
  border-radius: 0.3125em 0.3125em 0 0;
}

.input-section input:last-child, button:last-child {
  border-radius: 0 0 0.3125em 0.3125em;
}

a {
  color: #01aa91;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

