<div class="form-section main">
  <h3 class="section-title">Where can we take you?</h3>
  <form [formGroup]="form">
    <div class="input-section places" formGroupName="stations">
      <input
        appInputFocus group="departure"
        appListNavigator
        formControlName="departure"
        name="departure"
        class="tlc-input"
        type="text"
        placeholder="Enter your departure station..."
      />
      <input
        appInputFocus group="departure"
        appListNavigator
        formControlName="via"
        name="via"
        class="tlc-input"
        type="text"
        placeholder="Via"
      />
      <input
        appInputFocus group="departure"
        appListNavigator
        formControlName="arrival"
        name="arrival"
        class="tlc-input"
        type="text"
        placeholder="Enter your arrival station..."
      />
    </div>

    <div class="input-section dates" >
      <button class="tlc-input" appInputFocus group="dates" name="departDate">Depart</button>
      <button class="tlc-input" appInputFocus group="dates" name="returnDate">Return</button>
    </div>

    <div class="input-section persons">
      <button class="tlc-input" appInputFocus group="person" name="person">1 Adult (26-59)</button>
    </div>

    <div class="search-section">
      <a href="#">Use a discount code</a>
      <button class="submit-btn">Search</button>
    </div>
  </form>
</div>
