.main {
  padding: 30px;
}

h3 {
  color: #323E42;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.submit-btn {
  padding: 15px;
  min-width: 180px;
  display: inline;
  color: white;
  background-color: #01aa91;
  border: none;
}

a {
  text-decoration: none;
  color: #01aa91;
}

a:hover {
  text-decoration: underline;
}
